/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BKSP |
            // | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
            //                    | GUI | LWR | SPC |   | ENT | RSE  | ALT |

            bindings = <
&kp ESC       &kp Q  &kp W  &kp E             &kp R             &kp T             &kp Z        &kp U        &kp I   &kp O   &kp P          &trans
&kp TAB       &kp A  &kp S  &kp D             &kp F             &kp G             &kp H        &kp J        &kp K   &kp L   &kp BACKSPACE  &kp ENTER
&kp LEFT_ALT  &kp Y  &kp X  &kp C             &kp V             &kp B             &kp N        &kp M        &trans  &trans  &trans         &trans
                            &kp LEFT_CONTROL  &kp LEFT_COMMAND  &kp LEFT_SHIFT    &lt 1 SPACE  &lt 3 ENTER  &trans
            >;
        };

        lower_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  | BKSP |
            // | BTCLR| BT1 | BT2 | BT3 | BT4 | BT5 |   | LFT | DWN |  UP | RGT |     |      |
            // | SHFT |     |     |     |     |     |   |     |     |     |     |     |      |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            bindings = <
&kp CARET  &kp EXCLAMATION  &kp DOUBLE_QUOTES  &kp LS(N3)  &kp DOLLAR      &kp PERCENT    &kp AMPERSAND  &kp SLASH   &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp EQUAL         &trans
&kp PIPE   &kp AT           &kp TILDE          &kp LA(E)   &kp UNDERSCORE  &kp MINUS      &kp SEMICOLON  &kp COMMA   &kp LEFT_BRACE        &kp RIGHT_BRACE        &kp QUESTION      &trans
&kp LALT   &kp LESS_THAN    &kp GREATER_THAN   &kp HASH    &kp ASTERISK    &kp PLUS       &kp COLON      &kp PERIOD  &kp LEFT_BRACKET      &kp RIGHT_BRACKET      &kp SINGLE_QUOTE  &trans
                                               &kp LCTRL   &kp LGUI        &trans         &none          &trans      &trans
            >;
        };

        raise_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  | BKSP |
            // | CTRL |     |     |     |     |     |   |  -  |  =  |  [  |  ]  |  \  |  `   |
            // | SHFT |     |     |     |     |     |   |  _  |  +  |  {  |  }  | "|" |  ~   |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            bindings = <
&kp F1    &kp F2  &kp F3  &kp F4     &kp F5    &kp F6    &kp F7  &kp F8  &kp F9  &kp F10  &kp F11  &kp F12
&trans    &trans  &trans  &trans     &trans    &trans    &trans  &trans  &trans  &trans   &trans   &trans
&kp LALT  &trans  &trans  &trans     &trans    &trans    &trans  &trans  &trans  &trans   &trans   &trans
                          &kp LCTRL  &kp LGUI  &trans    &trans  &trans  &trans
            >;
        };

        Navigation {
            bindings = <
&trans    &trans  &kp N7  &kp N8     &kp N9    &trans    &trans  &trans    &kp UP    &trans     &trans  &trans
&trans    &kp N0  &kp N4  &kp N5     &kp N6    &trans    &trans  &kp LEFT  &kp DOWN  &kp RIGHT  &trans  &trans
&kp LALT  &trans  &kp N1  &kp N2     &kp N3    &trans    &trans  &trans    &trans    &trans     &trans  &trans
                          &kp LCTRL  &kp LGUI  &trans    &trans  &trans    &trans
            >;
        };
    };
};
